Legwork.Work["adcade"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/adcade/adcade-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/adcade/adcade-background.jpg' %>",
		],
		"videos": [],
		"sequences": []
	},
	"title": "Adcade",
	"summary": "A website for the NY based ad platform.",
	"thumbnail": "<%= asset_path 'desktop/work/adcade/adcade-thumb.jpg' %>",
	"related": "chrysler-ifd",
	"related_name": "Related: Imported From Detroit",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Adcade",
			"summary": "A website for the NY based ad platform.",
			"services": [
				"User Experience",
				"Art Direction",
				"Interface Design",
				"Development",
				"Animation"
			],
			"recognition": [
				"<a href=\"http://www.thefwa.com/mobile/adcade\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/adcade\" target=\"_new\">Awwwards</a>",
				"<a href=\"http://www.siteinspire.com/websites/3967-adcade\" target=\"_new\">Site Inspire</a>"
			],
			"overview": [
				"We needed to feature Adcade's compelling story explaining why the future of digital advertising was undoubtably HTML5. The long-scroll format (albeit overused) was an ideal way to present this singular story. To avoid a page chalked full of clashing banner ads, we abstracted sample banners into consistent line-art illustrations. And then, almost mocking the “flat design” trend, we took the line-art style we’d used and rendered it in Cinema 4D. The result was heroic 3D transitions that illustrated our main chapters' opening messages and then — with a change in camera angle — repurposed for use by the following messages."
			],
			"url": "http://adcade.com",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/adcade/adcade-background.jpg' %>"
			}
		}
	]
}