Legwork.Work["airwalk-interactive"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/airwalk-interactive/airwalk-interactive-thumb.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},

	// project metadata
	"title": "Airwalk",
	"summary": "A website for Collective Licensing International.",
	"thumbnail": "<%= asset_path 'desktop/work/airwalk-interactive/airwalk-interactive-thumb.jpg' %>",

	// slides
	"slides": [

		// title screen
		{
			"type": "TitleScreen",
			"title": "Airwalk",
			"summary": "A website for Collective Licensing International.",

			"services": [
				"User Experience",
				"Creative/Art Direction",
				"Visual Design",
				"Development",
				"Server Configuration"
			],

			"recognition": [
				"<a href=\"http://winners.webbyawards.com/search?keywords=airwalk\" target=\"_new\">Webby Awards</a>",
				"SXSW",
				"<a href=\"http://www.thefwa.com/site/airwalk\" target=\"_new\">FWA SOTD</a>"
			],

			"overview": [
				"Airwalk needed an online overhaul after running on a Flash engine for the last 6 years. We didnt want to sacrifice the the experience due to technical requirements, so we created a multilayered, dynamic HTML site that runs on a fully custom PHP CMS capable of supporting their entire global network."
			],
			
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/airwalk-interactive/airwalk-interactive-thumb.jpg' %>"
			}
		}
	]
}