Legwork.Work["climate-reality"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/work-climate-reality.jpg' %>"
		],
		"videos": [
			{
				"path": "climate-reality",
				"size": [960, 540]
			}
		],
		"sequences": []
	},

	// project metadata
	"title": "Take The Pledge",
	"summary": "A manifesto for the Climate Reality Project.",
	"thumbnail": "<%= asset_path 'desktop/work/work-climate-reality.jpg' %>", // NOTE: 960x540
	"related": "clyfford-still",
	"upnext": "Up Next: Clyfford Still",

	// slides
	"slides": [
		// title screen
		{
			"type": "TitleScreen",
			"title": "Take The Pledge",
			"summary": "A manifesto for the Climate Reality Project.",

			// services
			"services": [
				"Illustration",
				"Cel Animation",
				"3D Animation"
			],
			
			"overview": [
				"Throughout the 24 Hours of Climate Reality event on November 24, 2012, the Al Gore led Climate Reality Project ran a series of Dirty Weather Reports, with insight from experts and everyday people about the impacts of climate change on their lives, from each time zone across the globe. During the event viewers were asked to take a pledge and join the global movement to demand action. Here’s where we come into the picture. We were brought in to create an anthemic and informational video as their call-to-action. The piece uses a combination of smooth motion and textural cel animation to contrast and visualize the battle between good and evil."
			],
			"callout": "Watch Video",
			
			"background": {
				"type": "video",
				"id": "climate-reality"
			}
		},

		// video
		{
			"type": "Video",
			"background_color": "#4f534a",
			"id": "53487338"
		},

		// full screen (w/ image)
		{
			"type": "FullScreenImage",
			"image": "<%= asset_path 'desktop/work/climate-reality/climate-reality-styleframes.jpg' %>",
			"sidebar": {
				"title": "So Pitted",
				"text": "<p>Ah bra, it's just like, dude you get the best barrels ever dude. It's just like you pull in and just get spit right out of them. And you just drop in and just smack the lip. Whuppah! Jus-drop down, send it baahhahhh! And then after that you just drop in and just ride the barrel and get pitted, so pitted like that.</p>"
			}
		}
	]
}