Legwork.Work["diesel-denim-2011"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/diesel-denim/diesel-denim-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/diesel-denim/diesel-denim-background.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},
	"title": "Denim F/W 2011",
	"summary": "A website for Diesel.",
	"thumbnail": "<%= asset_path 'desktop/work/diesel-denim/diesel-denim-thumb.jpg' %>",
	"related": "union-station",
	"related_name": "Related: Union Station",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Denim F/W 2011",
			"summary": "A website for Diesel.",
			"services": [
				"Strategy",
				"User Experience",
				"Art Direction",
				"Visual Design",
				"Development"
			],
			"recognition": [
				"<a href=\"http://winners.webbyawards.com/2012/web/general-website/fashion/honorees\" target=\"_new\">Webby Awards</a>",
				"SXSW",
				"<a href=\"http://www.thefwa.com/site/diesel-denim-f-w-2011\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/diesel-denim-f-w-2011\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/diesel-e28093-denim-fw-2011\" target=\"_new\">Awwwards</a>",
				"CommArts",
				"W3 Awards"
			],
			"overview": [
				"We took the Diesel &quot;Island Denim&quot; catalog and turned it into a digital experience based on an “X marks the spot” theme we developed. We were able to build the project for modern browsers and took advantage of some of the newest capabilities of HTML5/JS for desktop and devices alike."
			],
			"url": "http://diesel.legworkstudio.com",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/diesel-denim/diesel-denim-background.jpg' %>"
			}
		}
	]
}