Legwork.Work["exit-zero"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/exit-zero/exit-zero-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/exit-zero/exit-zero-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "exit-zero-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "The Exit Zero Project",
	"summary": "A website for the Exit Zero Project.",
	"thumbnail": "<%= asset_path 'desktop/work/exit-zero/exit-zero-thumb.jpg' %>",
	"related": "rollit",
	"related_name": "Related: Roll It",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "The Exit Zero Project",
			"summary": "A website for the Exit Zero Project.",
			"services": [
				"User Experience",
				"Creative/Art Direction",
				"Visual Design",
				"Development"
			],
			"recognition": [
				"<a href=\"http://www.thefwa.com/mobile/the-exit-zero-project\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/the-exit-zero-project\" target=\"_new\">Awwwards</a>"
			],
			"overview": [
				"The Exit Zero Project seeks to recapture the stories of a region traumatized by deindustrialization, and to look towards a future of economic opportunity and environmental justice for Southeast Chicago residents. The site we designed serves as a preview for a deeper experience that will expand on the storytelling of the accompanying book and film."
			],
			"url": "http://exitzeroproject.org",
			"background": {
				"type": "video",
				"id": "exit-zero-loop",
				"src": "<%= asset_path 'desktop/work/exit-zero/exit-zero-ts-poster.jpg' %>"
			}
		}
	]
}