Legwork.Work["gamits"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/gamits/gamits-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/gamits/gamits-background.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},
	"title": "This Shell",
	"summary": "An interactive music video for the Gamits.",
	"thumbnail": "<%= asset_path 'desktop/work/gamits/gamits-thumb.jpg' %>",
	"related": "diesel-intimate-2013",
	"related_name": "Related: Diesel Intimate S/S 2013",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "This Shell",
			"summary": "An interactive music video for the Gamits.",
			"services": [
				"Strategy",
				"User Experience",
				"Creative/Art Direction",
				"Visual Design",
				"Live Action Video",
				"Animation",
				"Development"
			],
			"recognition": [
				"Webby Awards",
				"SXSW",
				"<a href=\"http://www.thefwa.com/site/this-shell\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/this-shell\" target=\"_new\">Awwwards</a>",
				"<a href=\"http://www.w3award.com/winners/list/?l=L&event=6&category=&award=G\" target=\"_new\">W3 Awards</a>",
				".net Magazine"
			],
			"overview": [
				"This Shell is an interactive music video to promote the Gamits 2010 record, Parts. We literally break the video we made into &quot;parts,&quot; and if a user can put it back together before the song ends they receive a free download of the song. This was a pure labor of love for us and an opportunity to experiment with new technologies. Check it out in Chrome or Firefox."
			],
			"url": "http://thisshell.com",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/work/gamits/gamits-background.jpg' %>"
			}
		}
	]
}