Legwork.Work["healing-histories"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/healing-histories/hh-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/healing-histories/hh-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "healing-histories-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Healing Histories",
	"summary": "An interactive documentary for WKKF with Weber Shandwick.",
	"thumbnail": "<%= asset_path 'desktop/work/healing-histories/hh-thumb.jpg' %>",
	"related": "coke-ah",
	"related_name": "Related: The Ahh Effect",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Healing Histories",
			"summary": "An interactive documentary for WKKF with Weber Shandwick.",
			"services": [
				"User Experience",
				"Art Direction",
				"Visual Design",
				"Development",
				"Server Configuration"
			],
			"recognition": [
				"<a href=\"http://winners.webbyawards.com/2013/web/general-website/charitable-organizationsnon-profit\" target=\"_new\">Webby Awards</a>",
				"<a href=\"http://www.thefwa.com/site/healing-histories-v1-0\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/healing-histories\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/healing-histories-v1\" target=\"_new\">Awwwards</a>",
				"<a href=\"http://www.commarts.com/interactive/cai13/healinghistories.html\" target=\"_new\">CommArts</a>"
			],
			"overview": [
				"This new take on online journalism offers visitors a nonlinear way to explore stories of New Orleans residents amid their struggle to rebuild their community post Hurricane Katrina and to overcome racial divides. The unconventional story arc allows users to discover different elements of each story by defining their own path."
			],
			"url": "http://healinghistories.com",
			"background": {
				"type": "video",
				"id": "healing-histories-loop",
				"src": "<%= asset_path 'desktop/work/healing-histories/hh-ts-poster.jpg' %>"
			}
		}
	]
}