Legwork.Work["new-york-times-obama-vs-boehner"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/nyt-obama-vs-boehner/nyt-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/nyt-obama-vs-boehner/nyt-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "nyt-debt-deal",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Obama vs. Boehner",
	"summary": "A video feature for The New York Times.",
	"thumbnail": "<%= asset_path 'desktop/work/nyt-obama-vs-boehner/nyt-thumb.jpg' %>",
	"related": "clyfford-still",
	"related_name": "Related: First Light",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Debt Deal: Obama vs. Boehner",
			"summary": "A video feature for The New York Times.",
			"services": [
				"Art Direction",
				"Story Boards",
				"Illustration",
				"Animation",
				"Sound Design"
			],
			"recognition": [
				"<a href=\"http://vimeo.com/channels/staffpicks/39365605\" target=\"_new\">Vimeo Staff Pick</a>",
				"<a href=\"http://www.nytimes.com/2012/04/01/magazine/obama-vs-boehner-who-killed-the-debt-deal.html?pagewanted=all&_r=0\" target=\"_new\">nytimes.com</a>"
			],
			"overview": [
				"The New York Times approached us to create a video that accompanied an article explaining the failed 2011 debt deal between President Obama and House Speaker John Boehner. We partnered with writers at The New York Times to create a piece that acts as a high-level recount of how the deal came to be—and how it ultimately unraveled."
			],
			"callout": "Watch Video",
			"background": {
				"type": "video",
				"id": "nyt-debt-deal",
				"src": "<%= asset_path 'desktop/work/nyt-obama-vs-boehner/nyt-ts-poster.jpg' %>"
			}
		},
		{
			"type": "Video",
			"id": "39365605"
		}
	]
}