Legwork.Work["rollit"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/rollit/rollit-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/rollit/rollit-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "rollit-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Roll It",
	"summary": "A Chrome Experiment for Google with Mode Set.",
	"thumbnail": "<%= asset_path 'desktop/work/rollit/rollit-thumb.jpg' %>",
	"related": "paranorman",
	"related_name": "Related: Paranorman",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Roll It",
			"summary": "A Chrome Experiment for Google with Mode Set.",
			"services": [
				"User Experience",
				"Art Direction",
				"Interface Design",
				"Development",
				"3D Modeling",
				"Animation"
			],
			"recognition": [
				"<a href=\"http://www.thefwa.com/site/roll-it\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/roll-it\" target=\"_new\">FWA MOTD</a>",
				"<a href=\"https://twitter.com/search/realtime?q=campaigns%2Frollit&src=savs\" target=\"_new\">Trend on Twitter</a>",
				"<a href=\"http://www.thefwa.com/adobe/tcea/roll-it\" target=\"_new\">Adobe Cutting Edge</a>",
				"<a href=\"http://www.awwwards.com/web-design-awards/roll-it\" target=\"_new\">Awwwards</a>"
			],
			"overview": [
				"Roll It is a Chrome Experiment that reimagines a classic boardwalk game using only the browser on your phone and computer. The browser on your phone lets you aim and roll the ball with a flick of your wrist, while the browser on your computer renders the real time graphics of the Roll It alley with WebGL and Canvas. The two devices communicate via WebSockets. No apps. No downloads. No tokens. All you need is a modern browser."
			],
			"callout": "Learn More",
			"url": "http://g.co/rollit",
			"background": {
				"type": "video",
				"id": "rollit-loop",
				"src": "<%= asset_path 'desktop/work/rollit/rollit-ts-poster.jpg' %>"
			}
		},
		{
			"type": "Video",
			"background_color": "#222",
			"id": "67414298"
		}
	]
}