Legwork.World["iphone-5-template"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/world/iphone-5-template/iphone-5-thumb.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},
	"title": "iPhone 5 Template",
	"summary": "A design resource we want to share with you.",
	"thumbnail": "<%= asset_path 'desktop/world/iphone-5-template/iphone-5-thumb.jpg' %>",
	"related": "valentines",
	"related_name": "Related: Valentine Vectors",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "iPhone 5 Template",
			"summary": "A design resource we wanted to share with you.",
			"overview": [
				"Teehan+Lax makes an awesome, comprehensive <a href=\"http://www.teehanlax.com/tools/\" target=\"_new\" class=\"highlighted\">iPhone PSD</a>. That might be what you're looking for. If you need something simple to display comps in at a few different angles, though, you've come to the right place. We've got all the screens set up as smart objects, so you can painlessly resize and use different angles for your designs."
			],
			"downloadlink": "https://dl.dropboxusercontent.com/u/501848/iphone5-PSD.zip",
			"background": {
				"type": "image",
				"url": "<%= asset_path 'desktop/world/iphone-5-template/iphone-5-ts-poster.png' %>"
			}
		}
	]
}