Legwork.World["legwork-modal"] = {

	// assets to preload
	"assets": {
		"images": [
			"<%= asset_path 'desktop/world-code.jpg' %>"
		],
		"videos": [],
		"sequences": []
	},

	// metadata
	"title": "Legwork Modal v1.2",
	"summary": "They have magic powers.",
	"thumbnail": "<%= asset_path 'desktop/world-code.jpg' %>", // NOTE: 960x540
	"related": "what-we-learned-2010",
	"upnext": "Up Next: What We Learned 2010",
	// slides
	"slides": [

		// media (w/ image)
		{
			"type": "Media",
			"background_color": "#9AD5F0",
			"title": "Legwork Modal v1.2",
			"text": "<p>Ah bra, it's just like, dude you get the best barrels ever dude. It's just like you pull in and just get spit right out of them. And you just drop in and just smack the lip. Whuppah! Jus-drop down, send it baahhahhh! And then after that you just drop in and just ride the barrel and get pitted, so pitted like that.</p>",
			"media": {
				"type": "image",
				"url": "<%= asset_path 'desktop/world-code.jpg' %>"
			}
		}
	]
}