$white:             #fff
$light_gray:        #ccc
$more_black:        #000
$black:             #111
$less_black:        #191919

$nav_bg:            #272727
$nav_highlight:     #2e2e2e

$yellow:            #EAE938
$blue:              #9AD5F0
$pink:              #f78ec6
$hot:               #ff0090

@mixin nav_shadow()
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)

@mixin inner_shadow($x, $y, $radius, $color)
  -webkit-box-shadow: inset $x $y $radius $color
  -moz-box-shadow: inset $x $y $radius $color
  -ms-box-shadow: inset $x $y $radius $color
  -o-box-shadow: inset $x $y $radius $color
  box-shadow: inset $x $y $radius $color

@mixin transition($property, $duration, $ease)
  -webkit-transition: $property $duration $ease
  -moz-transition: $property $duration $ease
  -o-transition: $property $duration $ease
  transition: $property $duration $ease

@mixin text_shadow($x, $y, $radius, $color)
  -webkit-text-shadow: $x $y $radius $color
  -moz-text-shadow: $x $y $radius $color
  -ms-text-shadow: $x $y $radius $color
  -o-text-shadow: $x $y $radius $color
  text-shadow: $x $y $radius $color

@mixin rotate($d)
  -webkit-transform: rotate($d)
  -moz-transform: rotate($d)
  -ms-transform: rotate($d)
  -o-transform: rotate($d)
  transform: rotate($d)

@mixin scale($s)
  -webkit-transform: scale($s)
  -moz-transform: scale($s)
  -ms-transform: scale($s)
  -o-transform: scale($s)
  transform: scale($s)

@mixin rounded($r)
  -webkit-border-radius: $r
  -moz-border-radius: $r
  -ms-border-radius: $r
  -o-border-radius: $r
  border-radius: $r

@mixin background_size($w, $h)
  -webkit-background-size: $w $h
  -moz-background-size: $w $h
  -ms-background-size: $w $h
  -o-background-size: $w $h
  background-size: $w $h

@mixin background_cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -ms-background-size: cover
  -o-background-size: cover
  background-size: cover