// DEFAULTS: 320 and up (phone portrait)
@media screen and (min-width: 320px)
  html, body
    width: 100%
    height: 100%
    min-width: 320px

  html
    overflow-y: scroll

  body
    background: $white
    -webkit-text-size-adjust: none
    //-webkit-font-smoothing: subpixel-antialiased

  #wrapper
    width: 100%
    height: 100%
    display: none

    // header
    header
      position: fixed
      top: -100%
      left: 0px
      width: 100%
      height: 100%
      margin-top: 0px
      z-index: 666
      background-color: $less_black
      -webkit-transform: translateZ(0)
      -webkit-backface-visibility: hidden

      nav
        position: absolute
        bottom: 0px
        width: 100%
        height: 210px
        overflow: hidden

        ul
          display: block
          width: 101% // Webkit pixel rounding
          height: 69px
          border-top: 1px solid $less_black
          background-color: $nav_bg
          list-style: none

          li
            position: relative
            float: left
            width: 33%
            height: 100%

            a
              display: block
              width: auto
              height: 100%
              color: $white
              font: normal normal bold 10px/104px Helvetica, Arial, sans-serif
              text-align: center
              text-decoration: none
              background: transparent asset-url("desktop/mobile-icons.png", image) no-repeat 0px 0px
              overflow: hidden
              @include inner_shadow(0, 0, -1px, #2b2b2b)
              @include text_shadow(-1px, -1px, 1px, $more_black)

            a#work-interactive
              background-position: 50% 10px

            a#work-motion
              background-position: 50% -50px

            a#work-illustration
              background-position: 50% -108px

            a#world-about
              background-position: 50% -170px

            a#world-open
              background-position: 50% -229px

            a#world-extra
              background-position: 50% -290px

            a#contact-email
              background-position: 50% -348px

            a#contact-phone
              background-position: 50% -409px

            a#contact-address
              background-position: 50% -470px

            a.selected
              background-color: $less_black
              @include inner_shadow(0, 0, 7px, $black)

          li:nth-child(3)
            width: 34%

            a
              border-right: 1px solid $less_black
              border-left: 1px solid $less_black

          li.nav-title
            display: none

        ul#contact-mobile
          li
            a
              position: relative

            a:after
              content: ""
              position: absolute
              top: 2px
              right: 2px
              width: 0px
              height: 0px
              border-top: 7px solid $black
              border-left: 7px solid transparent

      #menu-btn
        display: block
        position: absolute
        top: 100%
        left: 0px
        width: 100%
        height: 46px
        border-top: 4px solid $black
        border-bottom: 4px solid $yellow
        background-color: $nav_bg
        @include inner_shadow(0, 0, -1px, #2b2b2b)
        @include nav_shadow

        h2
          margin-left: 40px
          font: normal normal normal 12px/46px "MuseoSlab700", Verdana, sans-serif
          color: $white
          text-transform: uppercase
          @include text_shadow(-1px, -1px, 1px, $more_black)

        h2:before,
        h2:after
          content: ""
          position: absolute
          top: 14px
          left: 20px
          width: 5px
          height: 5px
          border-top: 3px solid $white
          border-left: 3px solid $white
          @include rotate(45deg)

        h2:after
          top: 23px
          @include rotate(225deg)

        #menu-handle
          position: absolute
          top: 50%
          left: 50%
          width: 14px
          height: 0px
          margin: -2px 0 0 -7px
          border-top: 1px solid $black
          border-bottom: 1px solid #444

        #menu-handle:before,
        #menu-handle:after
          content: ""
          position: absolute
          top: 50%
          left: 50%
          width: 14px
          height: 0px
          margin: -4px 0 0 -7px
          border-top: 1px solid $black
          border-bottom: 1px solid #444

        #menu-handle:after
          margin-top: 2px

      h1
        position: absolute
        bottom: -74px
        right: 20px
        width: 70px
        height: 70px
        margin-bottom: 74px
        background: asset-url("desktop/logo.gif", image) no-repeat top left
        @include nav_shadow

    header.transition
      @include transition(margin-top, 333ms, ease-in-out)

    header.open
      #menu-btn
        h2:before,
        h2:after
          content: ""
          position: absolute
          top: 15px
          left: 24px
          width: 3px
          height: 15px
          border: 0px
          background-color: $white
          @include rotate(45deg)

        h2:after
          @include rotate(-45deg)

    // main
    #legwork
      width: 100%
      height: 100%

      #wrap-the-canvas
        display: none

      #wrap-the-stuff,
      #wrap-the-filter
        padding: 70px 0 70px

        .stuff
          position: relative
          padding: 20px
          border-top: 1px solid $light_gray

        .stuff:first-child
          border-top: 0px

        .stuff:last-child
          margin-bottom: 0px

        .sequenced.stuff,
        .animated.stuff
          display: none

        .sequenced.stuff:first-child
          display: block

          .sequenced-inner
            width: 100%
            height: auto

            .sequenced-content-wrap
              width: 100%
              height: auto
              padding-bottom: 300px
              background-position: 50% 100%
              background-repeat: no-repeat
              @include background_size(300px, 300px)

              .sequenced-title-wrap
                width: 100%
                height: auto

                .sequenced-tagline
                  position: relative
                  display: block

                  h1
                    position: relative
                    padding-bottom: 15px
                    font: normal normal normal 20px/20px "MuseoSlab700", Verdana, sans-serif

                    &:after
                      content: ''
                      position: absolute
                      bottom: 0px
                      left: 0px
                      width: 100px
                      height: 3px
                      background-color: $less_black

        .sequenced.stuff
          .sequenced-inner
            video
              display: none

        .work.stuff,
        .world.stuff
          .ww-inner
            width: 100%
            height: 0px
            padding-top: 56%
            @include background_size(100%, 100%)

          .ww-details
            padding-top: 20px

            .ww-details-inner
              .ww-details-title
                .ww-details-title-inner
                  h2
                    font: normal normal normal 18px/18px "MuseoSlab700", Verdana, sans-serif
                    text-transform: uppercase
                    margin-bottom: 1px

                  h3
                    font: normal normal normal 11px/11px Helvetica, Arial, sans-serif

                  .launch-btn
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%

                    .ww-hover
                      display: none

                    a
                      display: block
                      width: 100%
                      height: 100%

                      .label
                        display: none

                      .icon
                        display: none

        .twitter.stuff
          height: auto
          padding: 0px

          .twitter-inner
            height: auto
            padding: 0px

            .tweet-one,
            .tweet-two
              padding: 60px 20px

              p
                font: normal normal normal 16px/20px "MuseoSlab700", Verdana, sans-serif
                color: $black
                -webkit-hyphens: auto
                -moz-hyphens: auto
                hyphens: auto
                margin-bottom: 10px

                a
                  color: $black
                  text-decoration: none
                  border-bottom: 2px solid $light_gray

                .tweet-hash
                  color: #666
                  text-decoration: none
                  border-bottom: none
                  cursor: default

              .twitter-details
                color: #666
                font: normal normal normal 11px/11px Helvetica, Arial, sans-serif

            .tweet-one
              border-bottom: 1px solid $light_gray

      #wrap-the-filter
        display: none

        .services-list
          display: none

      #wrap-the-404
        position: relative
        width: 100%
        height: 100%
        background-color: $light_gray
        display: none

        h1
          position: absolute
          top: 50%
          left: 0%
          width: 100%
          height: 32px
          margin-top: -16px
          font: normal normal bold 32px/32px Helvetica, Arial, sans-serif
          text-align: center
          color: #666

          a
            text-decoration: none
            color: #333

      #reveal-the-stuff
        position: fixed
        top: 0px
        right: 0px
        width: 100%
        height: 100%
        background-color: $white

        .image-sequence-wrap
          width: 100%
          height: 100%

          img, canvas
            display: block
            width: 100%
            height: 100%

    // detail
    #detail
      position: fixed
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      z-index: 1337
      display: none
      overflow: hidden
      -webkit-perspective: 600

      .image-sequence-wrap
        width: 100%
        height: 100%

        img, canvas
          display: block
          width: 100%
          height: 100%

      &:after
        content: ''
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 4px
        background-color: $less_black

      #detail-inner
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        margin-top: 0px
        overflow: hidden
        -webkit-transform: scale(1.0)
        -moz-transform: scale(1.0)
        -o-transform: scale(1.0)
        transform: scale(1.0)
        @include transition(all, 150ms, linear)

        .slides-wrapper
          position: absolute
          top: 0px
          left: 0px
          width: 100%
          height: 100%
          overflow: hidden
          opacity: 0
          -webkit-transform: rotateX(3deg) scale(0.9)
          -webkit-transform-origin: 50% 50%
          -webkit-transition: opacity 333ms ease-out, -webkit-transform 333ms ease-out

          .slides
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 100%
            background-color: $more_black
            overflow: hidden

            .slide
              position: absolute
              top: 0px
              left: 0%
              width: 100%
              height: 100%
              color: $white
              background-color: $less_black
              overflow: hidden
              z-index: 1

              .slide-inner
                position: absolute
                top: 0px
                left: 0px
                width: 100%
                height: 100%
                overflow: hidden
                display: table

                .slide-inner-content
                  width: 100%
                  vertical-align: middle
                  display: table-cell

              .sidebar
                position: absolute
                top: 0px
                left: 0px
                width: 30%
                height: 100%
                background-color: $less_black
                overflow: hidden
                display: none

                .sidebar-inner
                  width: 100%
                  vertical-align: middle
                  display: table-cell

                  .overview
                    max-width: 420px
                    margin: 0 26px
                    display: block

                    h4
                      margin: 0
                      font: normal normal normal 16px/20px "MuseoSlab700", Verdana, sans-serif

                    p
                      margin: 25px 0 0
                      font: normal normal normal 12px/20px Helvetica, Arial, sans-serif

                      a
                        color: #fff
                        text-decoration: none
                        font: normal normal bold 12px/20px Helvetica, Arial, sans-serif
                        border-bottom: 1px solid #8c8c8c
                        @include transition(border-bottom, 250ms, linear)

                      a:hover
                        border-bottom: 1px solid #fff

            // title screen slide
            .title-screen
              background-repeat: no-repeat
              background-position: 50% 50%
              -webkit-background-size: cover
              -moz-background-size: cover
              -o-background-size: cover
              background-size: cover

              .bg-project-video,
              .bg-project-video video,
              .bg-project-image
                position: absolute
                top: 0px
                left: 0%
                width: 100%
                height: 100%
                overflow: hidden

              .bg-project-video
                display: none

              .bg-project-image
                background-repeat: no-repeat
                background-position: 50% 50%
                -webkit-background-size: cover
                -moz-background-size: cover
                -o-background-size: cover
                background-size: cover
                display: block

              .project-title
                margin: 0 20px 40px
                display: block

                h2
                  margin: 0
                  font: normal normal normal 16px/20px "MuseoSlab700", Verdana, sans-serif
                  text-transform: uppercase

                h4
                  margin: 0
                  font: normal normal normal 12px/18px Helvetica, Arial, sans-serif

              .project-info
                position: relative
                margin: 0 20px
                display: none

                ul
                  float: left
                  width: 90%
                  margin: 0
                  list-style-type: none
                  display: block

                  li
                    margin: 0 20px 0 0
                    list-style-type: none
                    font: normal normal normal 12px/20px Helvetica, Arial, sans-serif
                    display: block

                    &:first-child
                      margin: 0 0 10px
                      font: normal normal normal 16px/20px "MuseoSlab700", Verdana, sans-serif

                ul:last-child
                  display: block

                  li
                    margin: 0

                &:after
                  content: ''
                  clear: both
                  height: 0
                  margin: 0
                  display: block

              .project-callouts
                margin: 40px 20px 0
                list-style-type: none
                display: block

                li
                  position: relative
                  float: left
                  height: 20px
                  margin: 0
                  padding: 0 0 0 30px
                  display: block

                  a, h4
                    position: relative
                    padding: 0 2px 3px
                    text-decoration: none
                    font: normal normal normal 14px/20px "MuseoSlab700", Verdana, sans-serif
                    color: $white
                    cursor: pointer
                    display: block

                    span
                      content: ''
                      position: absolute
                      bottom: 0px
                      left: 2px
                      right: 2px
                      height: 2px
                      background-color: $white
                      @include transition(all, 150ms, ease-out)

                  &:before
                    content: '/'
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 30px
                    height: 20px
                    margin: 0
                    font: normal normal normal 18px/20px Helvetica, Arial, sans-serif
                    text-align: center
                    display: block

                li:first-child
                  margin-left: -2px
                  padding: 0

                  &:before
                    display: none

                li
                  a:hover span, h4:hover span
                    right: 0px
                    left: 0px

            // video slide
            .video-slide
              .video-holder
                position: relative
                margin: 0 20px
                display: block

                .video-holder-inner
                  position: relative
                  width: 100%
                  height: 0
                  padding-bottom: 56.25%
                  background-color: $more_black
                  overflow: hidden
                  display: block

                  .vimeo-iframe
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%

                    iframe
                      position: absolute
                      top: 0px
                      left: 0px
                      width: 100%
                      height: 100%

                  .vimeo-poster
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%

                    img
                      position: absolute
                      top: 0px
                      left: 0px
                      width: 100%
                      height: 100%

            // panning slide
            .panning
              .pan-image
                position: absolute
                top: 0px
                left: 0px
                width: 0px
                height: 0px
                overflow: hidden
                cursor: move
                cursor: -webkit-grab
                cursor: -moz-grab

                img
                  position: absolute
                  top: 0px
                  left: 0px
                  width: 100%
                  height: 100%

              .pan-image.grabbing
                cursor: -webkit-grabbing
                cursor: -moz-grabbing

              .pan-image.constrain
                -webkit-transition: all ease-out 0.2s
                -moz-transition: all ease-out 0.2s
                -o-transition: all ease-out 0.2s
                transition: all ease-out 0.2s

            // pull quote slide
            .pull-quote
              background-repeat: no-repeat
              background-position: 50% 50%
              -webkit-background-size: cover
              -moz-background-size: cover
              -o-background-size: cover
              background-size: cover

              h1
                margin: 0 20px
                font: normal normal normal 14px/20px "MuseoSlab700", Verdana, sans-serif

            // media slide
            .media
              .media-stage
                position: absolute
                top: 0px
                left: 0%
                width: 100%
                height: 100%
                overflow: hidden
                display: table

                .media-stage-inner
                  width: 100%
                  vertical-align: middle
                  display: table-cell

                  .media-holder
                    position: relative
                    margin: 0 25px
                    display: block

                    .media-holder-inner
                      position: relative
                      width: 100%
                      height: 0
                      padding-bottom: 56.25%
                      background-color: $more_black
                      overflow: hidden
                      display: block

                      .vimeo-iframe
                        position: absolute
                        top: 0px
                        left: 0px
                        width: 100%
                        height: 100%

                      .vimeo-poster
                        position: absolute
                        top: 0px
                        left: 0px
                        width: 100%
                        height: 100%
                        cursor: pointer

                        .vimeo-play-btn
                          position: absolute
                          top: 50%
                          left: 50%
                          width: 50px
                          height: 50px
                          margin: -25px 0 0 -25px
                          background-color: #fff
                          opacity: 0.6
                          @include nav_shadow
                          @include transition(opacity, 150ms, ease-out)

                          &:after
                            content: ''
                            position: absolute
                            top: 50%
                            left: 50%
                            width: 0
                            height: 0
                            margin: -10px 0 0 -8px
                            border-top: 10px solid transparent
                            border-bottom: 10px solid transparent
                            border-left: 18px solid $less_black

                        img
                          position: absolute
                          top: 0px
                          left: 0px
                          width: 100%
                          height: 100%

                      .vimeo-poster:hover
                        .vimeo-play-btn
                          opacity: 1

                      img,
                      iframe
                        position: absolute
                        top: 0px
                        left: 0px
                        width: 100%
                        height: 100%

                    // slideshow slide
                    .slideshow
                      .ss-slide
                        position: absolute
                        top: 0px
                        left: 100%
                        width: 100%
                        height: 100%
                        overflow: hidden
                        z-index: 1

                        img,
                        iframe
                          position: absolute
                          top: 0px
                          left: 0px
                          width: 100%
                          height: 100%

                    .progress
                      position: relative
                      width: 100%
                      height: 16px
                      cursor: pointer
                      overflow: hidden
                      display: block

                      .progress-track
                        position: absolute
                        top: 4px
                        left: 0px
                        width: 100%
                        height: 4px
                        background-color: $white
                        @include transition(height, 100ms, ease-out)

                        .progress-bar
                          position: absolute
                          top: 0px
                          left: 0px
                          width: 0%
                          height: 100%
                          background-color: $less_black

                        .panel
                          position: absolute
                          top: 0px
                          left: 0%
                          width: 0%
                          height: 100%

                          span
                            position: absolute
                            top: 0px
                            right: 0px
                            width: 1px
                            height: 100%

                        .panel:last-child
                          span
                            display: none

                    .progress:hover
                      .progress-track
                        height: 12px

            // full screen image slide
            .full-screen-image
              background-repeat: no-repeat
              background-position: 50% 50%
              -webkit-background-size: cover
              -moz-background-size: cover
              -o-background-size: cover
              background-size: cover

              .image-stage
                position: absolute
                top: 0px
                left: 0%
                width: 100%
                height: 100%
                overflow: hidden
                display: table
                background-repeat: no-repeat
                background-position: 50% 50%
                -webkit-background-size: cover
                -moz-background-size: cover
                -o-background-size: cover
                background-size: cover

            // full screen video slide
            .full-screen-video
              .fs-iframe
                position: absolute
                top: 0px
                left: 0px
                width: 100%
                height: 100%

                iframe
                  position: absolute
                  top: 0px
                  left: 0px
                  width: 100%
                  height: 100%

              .fs-poster
                position: absolute
                top: 0px
                left: 0px
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-position: 50% 50%
                -webkit-background-size: cover
                -moz-background-size: cover
                -o-background-size: cover
                background-size: cover

          .slide-controls
            position: absolute
            top: 0px
            left: 70px
            width: 100px
            height: 50px
            margin: 0
            cursor: pointer
            z-index: 3

            .slide-controls-tab
              position: absolute
              top: 0px
              right: 0px
              width: 100px
              height: 50px
              background-color: $white
              @include nav_shadow
              @include transition(width, 150ms, ease-out)

              .slide-counter
                position: absolute
                top: 0px
                right: 0px
                width: 50px
                height: 50px
                background-color: $white

                span
                  position: absolute
                  top: 14px
                  left: 12px
                  font: bold normal normal 9px/9px Helvetica, Arial, sans-serif
                  color: $less_black

                  &:last-child
                    top: auto
                    left: auto
                    right: 12px
                    bottom: 8px

                &:after
                  content: ''
                  position: absolute
                  top: 50%
                  left: 50%
                  width: 1px
                  height: 32px
                  margin: -14px 0 0
                  background-color: $less_black
                  opacity: 0.5
                  -webkit-transform: rotate(45deg)
                  -moz-transform: rotate(45deg)
                  -ms-transform: rotate(45deg)
                  -o-transform: rotate(45deg)
                  transform: rotate(45deg)

              .slide-next
                position: absolute
                top: 0px
                left: 0px
                width: 50px
                height: 50px
                opacity: 1
                @include transition(opacity, 50ms, ease-in-out)

                &:after
                  content: ''
                  position: absolute
                  top: 50%
                  left: 50%
                  width: 7px
                  height: 7px
                  margin: -5px 0 0 -8px
                  border-top: 3px solid $less_black
                  border-right: 3px solid $less_black
                  -webkit-transform: rotate(45deg)
                  -moz-transform: rotate(45deg)
                  -ms-transform: rotate(45deg)
                  -o-transform: rotate(45deg)
                  transform: rotate(45deg)

        .slides-wrapper.open
          opacity: 1
          -webkit-transform: rotateX(0deg) scale(1)

      #detail-inner.bump
        -webkit-transform: scale(0.96)
        -moz-transform: scale(0.96)
        -o-transform: scale(0.96)
        transform: scale(0.96)

      #detail-close-btn
        position: absolute
        top: 0px
        left: 20px
        width: 50px
        height: 50px
        margin-top: -55px
        background-color: $black
        @include nav_shadow

      #detail-close-btn:before,
      #detail-close-btn:after
        content: ""
        position: absolute
        top: 17px
        left: 23px
        width: 3px
        height: 15px
        border: 0px
        background-color: $white
        @include rotate(45deg)

      #detail-close-btn:after
        @include rotate(-45deg)

      #related-btn
        position: absolute
        bottom: 0px
        left: 20px
        height: 50px
        margin: 0 0 -55px
        padding: 0 20px
        font: bold normal normal 12px/50px Helvetica, Arial, sans-serif
        color: $white
        text-align: center
        background-color: $black
        cursor: pointer
        overflow: hidden
        @include nav_shadow

    // footer
    footer
      display: none
      -webkit-transform: translateZ(0)
      -webkit-backface-visibility: hidden

  // main preloader
  #main-loader
    position: absolute
    top: 0px
    right: 0px
    width: 100%
    height: 100%
    background-color: #eee
    z-index: 999

    #loader-fill
      position: absolute
      bottom: 0px
      left: 0px
      width: 100%
      height: 0%
      background-color: $white
      @include transition(height, 150ms, ease-out)

    #loader-status
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      background: asset-url("desktop/status.png", image) no-repeat 50% 50%
      @include background_size(100%, auto)

    #loader-bros
      position: absolute
      bottom: 0px
      left: 50%
      width: 215px
      height: 163px
      margin-left: -107px
      background: asset-url("desktop/bros.png", image) no-repeat top left
      background-size: cover

    #loader-speech-bubble
      position: absolute
      bottom: 170px
      left: 50%
      width: 86px
      height: 51px
      padding: 4px 7px
      background: asset-url("desktop/speech-bubbles.png", image) no-repeat 0px 0px
      background-size: cover

      #loader-speech-bubble-inner
        display: table
        width: 100%
        height: 36px

        span
          display: table-cell
          width: 100%
          height: 100%
          vertical-align: middle
          font: normal normal bold 9px/12px Helvetica, Arial, sans-serif
          text-align: center
          color: $white

          sup
            display: none

    #loader-speech-bubble.left
      margin-left: -50px

    #loader-speech-bubble.right
      margin: 0 0 -5px -50px
      background-position: -100px 0px

  #ye-olde-hidden-video-holder
    position: fixed
    top: 0px
    left: -5000px
    width: 1px
    height: 1px
    overflow: hidden

// OVERRIDES: 480 and up (phone landscape)
@media screen and (min-width: 480px)
  #wrapper
    header
      nav
        height: 150px

        ul
          height: 49px

          li
            a
              text-align: left
              padding-left: 61px
              line-height: 49px

            a#work-interactive
              background-position: 12px 9px

            a#work-motion
              background-position: 12px -51px

            a#work-illustration
              background-position: 12px -110px

            a#world-about
              background-position: 12px -172px

            a#world-open
              background-position: 12px -233px

            a#world-extra
              background-position: 12px -293px

            a#contact-email
              background-position: 12px -351px

            a#contact-phone
              background-position: 12px -412px

            a#contact-address
              background-position: 12px -472px

    // main
    #legwork
      width: 100%
      height: 100%

      #wrap-the-stuff,
      #wrap-the-filter
        .sequenced.stuff:first-child
          .sequenced-inner
            .sequenced-content-wrap
              padding-bottom: 400px
              @include background_size(400px, 400px)

              .sequenced-title-wrap
                .sequenced-tagline
                  h1
                    font: normal normal normal 24px/24px "MuseoSlab700", Verdana, sans-serif

  // main preloader
  #main-loader
    #loader-bros
      bottom: -100px

    #loader-speech-bubble
      bottom: 70px

// OVERRIDES: 740 and up (tablet)
@media screen and (min-width: 740px)
  #wrapper

    // header
    header:before
      content: ""
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 1px
      background-color: $nav_highlight

    header
      top: 0px
      height: 70px
      margin-top: -100px
      border-top: 4px solid $less_black
      background-color: $nav_bg
      @include nav_shadow

      nav
        position: absolute
        bottom: 0px
        width: auto
        height: 70px
        border-right: 1px solid $nav_highlight
        background-color: $black

        ul
          display: block
          float: left
          width: auto
          height: 65px
          margin-right: 1px
          border-top: 1px solid $nav_highlight
          background-color: $nav_bg

          li
            width: auto

            a
              position: relative
              padding: 0 13px
              text-align: center
              font: normal normal normal 12px/65px Helvetica, Arial, sans-serif
              background: transparent
              @include text_shadow(-1px, -1px, 1px, $more_black)
              @include inner_shadow(0, 0, 0, transparent)

            a.selected
              @include text_shadow(1px, 1px, 1px, $more_black)

            a.selected:after
              content: ""
              position: absolute
              top: 5px
              left: 5px
              width: 5px
              height: 5px
              background: asset-url("desktop/filter-close.gif", image) no-repeat top left

          li:nth-child(2)
            padding-left: 13px

          li:nth-child(3)
            width: auto

            a
              border-right: 0px
              border-left: 0px

          li:nth-child(4)
            padding-right: 13px

          li.nav-title
            display: none

        ul#our-work
          border-bottom: 4px solid $yellow

          li
            a
              color: $yellow

            a.selected
              color: $white

        ul#our-world
          border-bottom: 4px solid $blue

          li
            a
              color: $blue

            a.selected
              color: $white

          li:nth-child(2)
            border-left: 1px solid $nav_highlight

        ul#contact-mobile
          display: none

      #menu-btn
        display: none

      h1
        bottom: -28px
        right: 26px
        width: 98px
        height: 98px
        margin-bottom: 102px
        background: asset-url("desktop/bigger-logo.gif", image) no-repeat top left

    // main
    #legwork
      position: relative

      #wrap-the-canvas
        display: block
        position: fixed
        top: 74px
        width: 100%
        height: 50%

        #lines-leader
          position: absolute
          bottom: 0px
          left: 0px
          width: 100%
          height: 80px
          background: asset-url("desktop/lines-leader.png", image) no-repeat bottom left
          background-size: 100% 100%

      #wrap-the-stuff,
      #wrap-the-filter
        padding-top: 94px

        .sequenced.stuff,
        .sequenced.stuff:first-child
          display: block
          width: 100%
          height: auto
          padding: 0px

          .sequenced-inner
            position: relative
            width: 100%
            height: 0%
            padding-top: 36%

            .sequenced-content-wrap
              position: absolute
              top: 0px
              width: 100%
              height: 100%
              padding: 0px
              background-position: 5% 0%
              background-repeat: no-repeat
              @include background_size(auto, 100%)

              .sequenced-title-wrap
                display: table
                position: absolute
                top: 0px
                left: 50%
                width: 45%
                height: 100%

                .sequenced-tagline
                  position: relative
                  vertical-align: middle
                  display: table-cell

                  h1
                    position: relative
                    padding-bottom: 30px
                    font: normal normal normal 24px/24px "MuseoSlab700", Verdana, sans-serif

                    &:after
                      content: ''
                      position: absolute
                      bottom: 0px
                      left: 0px
                      width: 100px
                      height: 3px
                      background-color: $less_black

        .right.sequenced.stuff
          .sequenced-inner
            .sequenced-content-wrap
              background-position: 95% 0%

              .sequenced-title-wrap
                left: 5%

        .work.stuff,
        .world.stuff
          position: relative
          padding: 5%

          .ww-inner
            position: relative
            float: right
            width: 50%
            padding-top: 28%

          .ww-details
            position: relative
            float: left
            width: 50%
            padding-top: 28%

            .ww-details-inner
              position: absolute
              top: 0px
              left: 0px
              width: 100%
              height: 100%

              .ww-details-title
                width: 100%
                height: 100%
                display: table

                .ww-details-title-inner
                  display: table-cell
                  vertical-align: middle

                  h2
                    font: normal normal normal 24px/24px "MuseoSlab700", Verdana, sans-serif
                    text-transform: uppercase
                    margin-bottom: 3px

                  h3
                    font: normal normal normal 12px/12px Helvetica, Arial, sans-serif
                    margin-bottom: 32px

                  .launch-btn
                    position: relative
                    display: inline-block
                    width: auto
                    height: 46px
                    background-color: $yellow
                    overflow: hidden

                    .ww-hover
                      display: block
                      position: absolute
                      width: 200%
                      height: 92px
                      margin-top: -46px

                      .image-sequence-wrap
                        width: 100%
                        height: 100%

                        img, canvas
                          display: block
                          width: 100%
                          height: 100%

                    a
                      position: relative
                      display: block
                      width: auto
                      height: 100%
                      padding: 0 48px 0 20px
                      text-decoration: none

                      .label
                        display: block
                        font: normal normal bold 12px/46px Helvetica, Arial, sans-serif
                        color: $black
                        white-space: nowrap

                      .icon
                        display: block
                        position: absolute
                        top: 18px
                        right: 22px
                        width: 7px
                        height: 7px
                        border-top: 3px solid $black
                        border-right: 3px solid $black
                        @include rotate(45deg)

        .world.stuff
          .ww-details
            .ww-details-inner
              .ww-details-title
                .ww-details-title-inner
                  .launch-btn
                    background-color: $blue

        .twitter.stuff
          height: auto
          padding: 0px

          .twitter-inner
            height: auto
            padding: 0px

            .tweet-one,
            .tweet-two
              float: left
              width: 40%
              padding: 5%

              p
                font: normal normal normal 16px/22px "MuseoSlab700", Verdana, sans-serif
                margin-bottom: 10px

            .tweet-one
              border-bottom: 0px

            .tweet-two
              width: 40%
              padding-right: 0%

        .twitter-inner:after
          content: ''
          position: absolute
          top: 0px
          left: 50%
          width: 1px
          height: 100%
          background-color: $light_gray

      #wrap-the-filter
        .services-list
          display: block
          float: left
          width: 30%
          list-style: none
          padding-top: 32px
          margin-right: 3%

          li
            display: block
            height: 10px
            font: normal normal normal 10px/10px Helvetica, Arial, sans-serif
            margin-bottom: 4px

            b
              font-weight: bold

          li:first-child
            margin-bottom: 7px

    // detail
    #detail
      #detail-inner
        .slides-wrapper

          .slides
            .slide
              .sidebar
                display: table
            // title screen slide
            .title-screen
              .project-title
                margin: 0 50px 90px 26px

                h2
                  font: normal normal normal 36px/36px "MuseoSlab700", Verdana, sans-serif

              .project-info
                margin: 0 50px 0 26px
                display: block

                ul
                  width: 24%

                  li
                    margin: 0 40px 0 0

                    &:first-child
                      margin: 0 0 15px

                ul:last-child
                  width: 46%

              .project-callouts
                margin: 90px 50px 0 26px

            // video slide
            .video-slide
              .video-holder
                margin: 0 76px 0 26px

            // pull quote slide
            .pull-quote
              h1
                margin: 0 150px 0 76px
                font: normal normal normal 18px/28px "MuseoSlab700", Verdana, sans-serif

            // media slide
            // .media
            //   .media-content
            //     .media-holder
            //       margin: 0 76px 0 26px
            // media slide
            .media
              .media-stage
                left: 30%
                width: 70%

            // full screen image slide
            .full-screen-image
              .image-stage
                left: 30%
                width: 70%

          .slide-controls
            top: 50%
            left: auto
            right: 0px
            margin: -25px 0 0

            .slide-controls-tab
              width: 50px

              .slide-next
                opacity: 0

          .slide-controls:hover
            .slide-controls-tab
              width: 100px

              .slide-next
                opacity: 1
                @include transition(opacity, 150ms, ease-in-out)

      #detail-close-btn
        left: 26px

      #related-btn
        left: 26px

    // footer
    footer
      display: block
      position: fixed
      bottom: -80px
      left: 0px
      width: 100%
      height: 46px
      border-top: 4px solid #4d4d4d
      background-color: $nav_bg
      z-index: 666
      @include nav_shadow

      ul
        float: left
        width: auto
        list-style: none

      ul#contact-footer
        height: 46px

        li
          float: left
          width: auto
          height: 100%
          margin-left: 26px

          h2, a
            width: auto
            height: 100%
            @include text_shadow(-1px, -1px, 1px, $more_black)

          h2
            font: normal normal normal 12px/46px "MuseoSlab700", Verdana, sans-serif
            color: $white
            text-transform: uppercase

          a
            font: normal normal normal 12px/46px Helvetica, Arial, sans-serif
            color: $light_gray
            text-decoration: none

      ul#social-footer
        display: none

  // main preloader
  #main-loader
    #loader-bros
      bottom: 0px
      width: 430px
      height: 325px
      margin: -163px 0 0 -215px

    #loader-speech-bubble
      bottom: 335px
      width: 172px
      height: 89px
      padding: 14px

      #loader-speech-bubble-inner
        display: table
        width: 100%
        height: 60px

        span
          font: normal normal bold 14px/20px Helvetica, Arial, sans-serif

          sup
            display: inline
            position: relative
            top: -0.9em
            font: normal normal normal 8px/0 Helvetica, Arial, sans-serif
            vertical-align: baseline

    #loader-speech-bubble.left
      margin-left: -105px

    #loader-speech-bubble.right
      margin: 0 0 -5px -95px
      background-position: -200px 0px

// OVERRIDES: 1025 and up (desktop)
@media screen and (min-width: 1025px)
  #wrapper

    // header
    header
      height: 50px
      margin-top: -80px

      nav
        height: 50px

        ul
          height: 45px
          @include transition(background-color, 250ms, linear)

          li
            a
              line-height: 45px

          li:nth-child(2)
            padding-left: 0px

          li:nth-child(3)
            a
              line-height: 45px

          li.nav-title
            display: block
            padding: 0 13px 0 26px

            h2
              font: normal normal normal 12px/45px "MuseoSlab700", Verdana, sans-serif
              color: $white
              text-transform: uppercase
              @include text_shadow(-1px, -1px, 1px, $more_black)

        ul#our-work
          li
            a
              @include transition(color, 250ms, linear)

            a:hover
              color: $white

        ul#our-world
          li
            a
              @include transition(color, 250ms, linear)

            a:hover
              color: $white

          li:nth-child(1)
            border-left: 1px solid $nav_highlight

          li:nth-child(2)
            border-left: 0px

        ul:hover
          background-color: $nav_highlight

      h1
        bottom: -20px
        right: 26px
        width: 70px
        height: 70px
        margin-bottom: 74px
        background: asset-url("desktop/logo.gif", image) no-repeat top left

    // main
    #legwork
      margin: 0px auto

      #wrap-the-canvas
        top: 54px

      #wrap-the-stuff,
      #wrap-the-filter
        padding-top: 54px

        .sequenced.stuff,
        .sequenced.stuff:first-child
          .sequenced-inner
            .sequenced-content-wrap
              video
                position: absolute
                height: 100%
                width: auto
                display: none

              .sequenced-title-wrap
                .sequenced-tagline
                  h1
                    font: normal normal normal 36px/36px "MuseoSlab700", Verdana, sans-serif

        .right.sequenced.stuff
          .sequenced-inner
            .sequenced-content-wrap
              video
                right: 5%

        .left.sequenced.stuff
          .sequenced-inner
            .sequenced-content-wrap
              video
                left: 5%

        .work.stuff,
        .world.stuff
          .ww-inner
          .ww-details
            .ww-details-inner
              .ww-details-title
                .ww-details-title-inner

                  h2
                    font: normal normal normal 30px/30px "MuseoSlab700", Verdana, sans-serif

                  h3
                    font: normal normal normal 14px/14px Helvetica, Arial, sans-serif

                  .launch-btn
                    a
                      .label
                        font: normal normal bold 14px/46px Helvetica, Arial, sans-serif

                  .launch-btn:hover
                    a
                      .label
                        color: $yellow

                      .icon
                        border-top: 3px solid $yellow
                        border-right: 3px solid $yellow

                  .launch-btn.over
                    background-color: $black

        .world.stuff
          .ww-details
            .ww-details-inner
              .ww-details-title
                .ww-details-title-inner
                  .launch-btn:hover
                    a
                      .label
                        color: $blue

                      .icon
                        border-top: 3px solid $blue
                        border-right: 3px solid $blue

        .twitter.stuff
          .twitter-inner
            .tweet-one,
            .tweet-two
              p
                font: normal normal normal 24px/30px "MuseoSlab700", Verdana, sans-serif
                margin-bottom: 20px

                a
                  border-bottom: 2px solid $light_gray
                  @include transition(border-bottom, 250ms, linear)

                  &:hover
                    border-bottom: 2px solid $black

                .tweet-hash:hover
                  border-bottom: none

              .twitter-details
                font: normal normal normal 14px/14px Helvetica, Arial, sans-serif

      #wrap-the-stuff
        .sequenced.stuff,
        .sequenced.stuff:first-child
          .sequenced-inner
            .sequenced-content-wrap
              background: #fff !important

      #wrap-the-filter
        .services-list
          display: block
          float: left
          width: 30%
          list-style: none
          padding-top: 32px
          margin-right: 3%

          li
            display: block
            height: 12px
            font: normal normal normal 12px/12px Helvetica, Arial, sans-serif
            margin-bottom: 6px

            b
              font-weight: bold

          li:first-child
            margin-bottom: 9px

    // detail
    #detail
      #detail-inner
        .slides-wrapper
          .slides
            // title screen slide
            .title-screen
              .bg-project-video
                display: block

              .bg-project-image
                display: none

              .project-info
                ul
                  width: 17%

                ul:last-child
                  width: 36%

            // video slide
            .video-slide
              .video-holder
                margin: 0 126px

            // pull quote slide
            .pull-quote
              h1
                margin: 0 200px 0 176px
                font: normal normal normal 28px/38px "MuseoSlab700", Verdana, sans-serif

            // media slide
            // .media
            //   .media-content
            //     max-width: 360px
            //     width: 40%
            //     display: block
            //
            //     .media-text
            //       margin: 0 50px 0 26px
            //
            //     .media-holder
            //       margin: 0 76px 0 0
            //
            //     &:last-child
            //       width: 60%
            //       max-width: 960px

    // footer
    footer
      width: 764px

      ul#contact-footer
        a
          @include transition(color, 250ms, linear)

        a:hover
          color: $white

      ul#social-footer
        display: block
        float: right
        height: 16px
        margin: 15px 26px 0 0

        li
          position: relative
          float: left
          width: 16px
          height: 100%
          margin-right: 10px

          a
            display: block
            width: 100%
            height: 100%
            background: asset-url("desktop/social-icons.gif", image) no-repeat 0 0
            opacity: 0.75
            text-decoration: none
            @include transition(opacity, 250ms, linear)

          a#social-github
            background-position: 0px 0
          a#social-vimeo
            background-position: -16px 0
          a#social-facebook
            background-position: -32px 0
          a#social-twitter
            background-position: -48px 0

          a:hover
            opacity: 1

          a:hover:before
            content: ""
            display: block
            position: absolute
            top: -15px
            left: 8px
            border-top: 10px solid $more_black
            border-right: 10px solid transparent

          a:hover:after
            content: attr(data-tooltip)
            display: block
            position: absolute
            top: -42px
            left: 8px
            width: auto
            height: 28px
            padding: 0 12px
            font: normal normal normal 12px/28px Helvetica, Arial, sans-serif
            color: $white
            white-space: nowrap
            -webkit-font-smoothing: subpixel-antialiased
            background-color: $more_black

// OVERRIDES: 1280 and up (big honkin' screens)
@media screen and (min-width: 1280px)
  #wrapper

    // main
    #legwork
      #wrap-the-stuff,
      #wrap-the-filter
        .sequenced.stuff,
        .sequenced.stuff:first-child
          .sequenced-inner
            .sequenced-content-wrap
              .sequenced-title-wrap
                .sequenced-tagline
                  h1
                    font: normal normal normal 42px/42px "MuseoSlab700", Verdana, sans-serif

        .work.stuff,
        .world.stuff
          .ww-inner
          .ww-details
            .ww-details-inner
              .ww-details-title
                .ww-details-title-inner

                  h2
                    font: normal normal normal 34px/34px "MuseoSlab700", Verdana, sans-serif

// OVERRIDES: retina display
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
  #wrapper

    // header
    header
      nav
        ul
          li
            a
              background-image: asset-url("desktop/mobile-icons@2x.png", image)
              background-size: 37px 540px

      h1
        background-image: asset-url("desktop/bigger-logo@2x.gif", image)
        background-size: 70px 70px

    // footer
    footer
      ul#social-footer
        li
          a
            background: asset-url("desktop/social-icons@2x.gif", image) no-repeat 0 0
            background-size: 16px 16px

// OVERRIDES: fingers over mouse
html.touch

  // detail
  #detail
    #detail-inner
      .slides-wrapper
        .slides
          .media
            .media-content
              .media-holder

                // slideshow progress
                .progress
                  height: 20px

                  .progress-track
                    height: 16px

                    .progress-bar
                      padding-right: 25%
                      @include transition (width, 666ms, ease-out)

        .slide-controls
          .slide-controls-tab
            width: 100px

            .slide-next
              opacity: 1



