// TEXT
h1
  font: normal normal normal 32px/32px "MuseoSlab700", Verdana, sans-serif

// DEFAULTS: 320 and up (phone portrait)
@media screen and (min-width: 320px)
  html, body
    width: 100%
    height: 100%
    min-width: 320px

  body
    background: $white
    -webkit-text-size-adjust: none

  #wrapper
    width: 100%
    height: auto

    // header
    header
      position: fixed
      width: 100%
      height: 264px
      z-index: 666
      background-color: $less_black
      @include nav_shadow

      nav
        position: relative
        width: 100%
        height: 210px
        margin: 0 auto

        ul
          display: block
          width: 100%
          height: 69px
          border-top: 1px solid $less_black
          background-color: $nav_bg

          li
            position: relative
            float: left
            width: 33%
            height: 69px
            height: 100%

            a
              display: block
              width: auto
              height: 69px
              color: $white
              font: normal normal bold 10px/102px Helvetica, Arial, sans-serif
              text-align: center
              text-decoration: none
              background: transparent asset-url("desktop/test-icon.gif", image) no-repeat 50% 14px
              overflow: hidden

          li:nth-child(3)
            width: 34%

            a
              border-right: 1px solid $less_black
              border-left: 1px solid $less_black

          li.nav-title
            display: none

      #menu-btn
        display: block
        position: absolute
        bottom: 0px
        left: 0px
        width: 100%
        height: 45px
        border-top: 1px solid $nav_highlight
        border-bottom: 4px solid $yellow
        background-color: $nav_bg

      h1
        position: absolute
        bottom: -20px
        right: 20px
        width: 70px
        height: 70px
        background: asset-url("desktop/logo.gif", image) no-repeat top left
        @include nav_shadow

    // footer
    footer
      display: none

// OVERRIDES: 480 and up (phone landscape)
@media screen and (min-width: 480px)
  #wrapper
    header
      height: 204px

      nav
        height: 150px

        ul
          height: 49px

          li
            height: 49px

            a
              height: 49px
              text-align: left
              padding-left: 54px
              line-height: 49px
              background-position: 12px 12px

// OVERRIDES: 740 and up (tablet)
@media screen and (min-width: 740px)
  #wrapper

    // header
    header:before
      content: ""
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 1px
      background-color: $nav_highlight

    header
      height: 70px
      border-top: 4px solid $less_black
      background-color: $nav_bg

      nav
        position: absolute
        bottom: 0px
        width: auto
        height: 70px
        border-right: 1px solid $nav_highlight
        background-color: $black

        ul
          display: block
          float: left
          width: auto
          height: 65px
          margin-right: 1px
          border-top: 1px solid $nav_highlight
          background-color: $nav_bg

          li
            width: auto
            height: 65px

            a
              height: 65px
              padding: 0 13px
              text-align: center
              font: normal normal normal 12px/61px Helvetica, Arial, sans-serif
              background: transparent

          li:nth-child(2)
            padding-left: 13px

          li:nth-child(3)
            width: auto
            height: 65px

            a
              height: 65px
              border-right: 0px
              border-left: 0px

          li:nth-child(4)
            padding-right: 13px

          li.nav-title
            display: none

        ul#our-work
          border-bottom: 4px solid $yellow

          li
            a
              color: $yellow

        ul#our-world
          border-bottom: 4px solid $blue

          li
            a
              color: $blue

          li:nth-child(2)
            border-left: 1px solid $nav_highlight

        ul#contact-mobile
          display: none

      #menu-btn
        display: none

      h1
        bottom: -28px
        right: 26px
        width: 98px
        height: 98px
        background: asset-url("desktop/bigger-logo.gif", image) no-repeat top left

    // footer
    footer
      display: block
      position: fixed
      bottom: 0px
      left: 0px
      width: 100%
      height: 46px
      border-top: 4px solid #4d4d4d
      background-color: $nav_bg
      z-index: 666
      @include nav_shadow

      h2, a
        float: left
        width: auto
        height: 100%

      h2
        font: normal normal normal 12px/46px "MuseoSlab700", Verdana, sans-serif
        color: $white
        text-transform: uppercase
        margin-left: 26px

      a, a:link, a:visited
        font: normal normal normal 12px/46px Helvetica, Arial, sans-serif
        color: $white
        text-decoration: none
        margin-left: 24px

      a:hover, a:visited
        text-decoration: underline

      #footer-social
        display: none

// OVERRIDES: 1025 and up (desktop)
@media screen and (min-width: 1025px)
  #wrapper

    // header
    header
      height: 50px

      nav
        height: 50px

        ul
          height: 45px
          -webkit-transition: background-color 300ms
          -moz-transition: background-color 300ms
          -o-transition: background-color 300ms
          transition: background-color 300ms

          li
            height: 45px

            a
              height: 45px
              line-height: 45px

          li:nth-child(2)
            padding-left: 0px

          li:nth-child(3)
            height: 45px

            a
              height: 45px
              line-height: 45px

          li.nav-title
            display: block
            padding: 0 13px 0 26px

            h2
              font: normal normal normal 12px/45px "MuseoSlab700", Verdana, sans-serif
              color: $white
              text-transform: uppercase

        ul#our-work
          li
            a
              -webkit-transition: color 300ms
              -moz-transition: color 300ms
              -o-transition: color 300ms
              transition: color 300ms

            a:hover
              color: $white

        ul#our-world
          li
            a
              -webkit-transition: color 300ms
              -moz-transition: color 300ms
              -o-transition: color 300ms
              transition: color 300ms

            a:hover
              color: $white

          li:nth-child(1)
            border-left: 1px solid $nav_highlight

          li:nth-child(2)
            border-left: 0px

        ul:hover
          background-color: $nav_highlight

      h1
        bottom: -20px
        right: 26px
        width: 70px
        height: 70px
        background: asset-url("desktop/logo.gif", image) no-repeat top left

    // footer
    footer
      width: 751px

      #footer-social
        display: block
        float: right
        height: 13px
        margin: 16px 26px 0 0

        a
          float: left
          width: 12px
          height: 13px
          margin: 0 6px 0 0
          background: asset-url("desktop/footer_social.png", image) no-repeat 0 0

        #social-github
          background-position: -12px 0
        #social-vimeo
          background-position: -24px 0
        #social-twitter
          background-position: -36px 0
        #social-facebook
          background-position: -48px 0

        #social-tooltip
          position: absolute
          top: -23px
          left: 0
          width: auto
          height: 23px
          padding: 0 10px
          font-size: 11px
          line-height: 23px
          color: #fff
          background-color: #ff0090
          -webkit-border-top-right-radius: 5px
          -webkit-border-top-left-radius: 5px
          -moz-border-radius-topright: 5px
          -moz-border-radius-topleft: 5px
          border-top-right-radius: 5px
          border-top-left-radius: 5px
          -webkit-border-bottom-right-radius: 5px
          -moz-border-radius-bottomright: 5px
          border-bottom-right-radius: 5px
          display: none
          @include nav_shadow

        #social-tooltip:before
          content: ""
          position: absolute
          bottom: -10px
          left: 0
          width: 0
          height: 0
          border-top: 10px solid #ff0090
          border-right: 10px solid transparent

// OVERRIDES: retina display
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
  #wrapper

    // header
    header
      nav
        ul
          li
            a
              background-image: asset-url("desktop/test-icon@2x.gif", image)
              background-size: 30px 24px

      h1
        background-image: asset-url("desktop/bigger-logo@2x.gif", image)
        background-size: 70px 70px