Legwork.Work["chrysler-halftime"] = {
	"assets": {
		"images": [
			"<%= asset_path 'desktop/work/chrysler-halftime/chrysler-halftime-thumb.jpg' %>",
			"<%= asset_path 'desktop/work/chrysler-halftime/chrysler-halftime-ts-poster.jpg' %>"
		],
		"videos": [
			{
				"path": "chrysler-halftime-loop",
				"size": [960, 540]
			}
		],
		"sequences": []
	},
	"title": "Halftime In America",
	"summary": "A YouTube application for Chrysler with Wieden+Kennedy.",
	"thumbnail": "<%= asset_path 'desktop/work/chrysler-halftime/chrysler-halftime-thumb.jpg' %>",
	"related": "union-station",
	"related_name": "Related: Union Station",
	"slides": [
		{
			"type": "TitleScreen",
			"title": "Halftime In America",
			"summary": "A YouTube application for Chrysler with Wieden+Kennedy.",
			"services": [
				"User Experience",
				"Visual Design",
				"Development",
				"Server Configuration"
			],
			"recognition": [
				"<a href=\"http://winners.webbyawards.com/2013/interactive-advertising-media/individual/viral-marketing/honorees\" target=\"_new\">Webby Awards</a>",
				"<a href=\"http://www.thefwa.com/site/halftime-in-america\" target=\"_new\">FWA SOTD</a>",
				"<a href=\"http://www.thefwa.com/mobile/halftime-in-america\" target=\"_new\">FWA MOTD</a>"
			],
			"overview": [
				"Created for the 2012 Chrysler Super Bowl commercial starring Clint Eastwood, we designed and developed an HTML5 map visualization that aggregated and displayed social media sharing of the commercial across the country in real time. The app was shared to over 4 million people in less than 72 hours."
			],
			"url": "http://halftime.herokuapp.com/",
			"background": {
				"type": "video",
				"id": "chrysler-halftime-loop",
				"src": "<%= asset_path 'desktop/work/chrysler-halftime/chrysler-halftime-ts-poster.jpg' %>"
			}
		}
	]
}