html, body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #191919;
	font: normal normal normal 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

a {
	color: #eae938;
	text-decoration: none;
	outline: 0 none;
}

img {
	border: none;
	outline: 0 none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#wrapper {
	position: relative;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	padding: 70px 0;
	background-color: #272727;
}

#wrapper-inner {
	position: relative;
	margin: 0 20px;
}

h2 {
	position: relative;
	margin: 40px 0 20px;
	padding: 40px 0 0;
	font: normal normal normal 24px/24px "Archer SSm A", Verdana, sans-serif
}

h2:first-child {
	padding: 0;
	margin: 0 0 20px;
}

h2:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 2px;
	background-color: #fff;
}

h2:first-child:after {
	display: none;
}

h3 {
	margin: 40px 0 20px;
	font: normal normal normal 18px/18px "Archer SSm A", Verdana, sans-serif
}

p {
	margin: 0 0 20px;
}

figure {
	margin: 0 0 40px;
	text-align: center;
}

figure img {
	max-width: 100%;
	height: auto;
}

figcaption {
	margin: 10px 0 0;
	font-size: 11px;
	line-height: 16px;
	color: #ccc;
}

.rollit-full {
	width: 100%;
}

canvas {
	margin: 0 0 20px;
}

pre {
	margin: 20px 0;
	padding: 13px;
	font-family: "Source Code Pro",monospace;
	font-family: 'courier new',monospace;
	font-size: 1em;
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #444;
	display: block;

	border-radius: 8px;
}

#physijs-scene {
	position: relative;
	height: 400px;
	background-color: #eee;
	cursor: pointer;
}

#antialiasing {
	height: 600px;
	background-color: #eee;
	position: relative;
}

#scene {
	position: relative;
	height: 200px;
	height: 200px;
	background-color: #eee;
	
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
}

#scene.no-accel {
	height: auto;
}




