<div id="wrapper">

  <!-- Header -->
  <header>
    <nav class="cf">
      <ul id="our-work">
        <li class="nav-title"><h2>Our Work</h2></li>
        <li class="nav-item"><a href="#">Interactive</a></li>
        <li class="nav-item"><a href="#">Motion</a></li>
        <li class="nav-item"><a href="#">Illustration</a></li>
      </ul>
      <ul id="our-world">
        <li class="nav-title"><h2>Our World</h2></li>
        <li class="nav-item"><a href="#">About Us</a></li>
        <li class="nav-item"><a href="#">Giveaways</a></li>
        <li class="nav-item"><a href="#">Extracurricular</a></li>
      </ul>
      <ul id="contact-mobile">
        <li class="nav-title"><h2>Contact</h2></li>
        <li class="nav-item"><a href="#">Email</a></li>
        <li class="nav-item"><a href="#">Phone</a></li>
        <li class="nav-item"><a href="#">Address</a></li>
      </ul>
    </nav>

    <a id="menu-btn" href="javascript:void(0);"></a>
    <h1 class="ir">Legwork</h1>
  </header>
  <!--/Header -->

  <!-- Main -->
  <div id="legwork" role="main">
  </div>
  <!--/Main -->

  <!-- Footer -->
  <footer>
    <h2>Contact Us</h2>
    <a href="mailto:hello@legworkstudio.com" id="footer-email">hello@legworkstudio.com</a>
    <a href="tel:1-303-902-2180" id="footer-phone">(303) 902-2180</a>
    <a href="http://g.co/maps/9f46q" id="footer-address">40 S Broadway / Denver, CO 80209</a>

    <div id="footer-social">
      <a href="#" id="social-github" class="ir">Follow on Github</a>
      <a href="#" id="social-vimeo" class="ir">Watch on Vimeo</a>
      <a href="#" id="social-twitter" class="ir">Follow on Twitter</a>
      <a href="#" id="social-facebook" class="ir nmr">Subscribe on Facebook</a>
      <div id="social-tooltip"></div>
    </div>
  </footer>
  <!--/Footer -->

</div><!--/Wrapper -->