<div id="wrapper">

  <!-- Header -->
  <header>
    <nav class="cf">
      <ul id="our-work">
        <li class="nav-title"><h2>Our Work</h2></li>
        <li><a class="ajaxy filter" id="work-interactive" href="/interactive">Interactive</a></li>
        <li><a class="ajaxy filter" id="work-motion" href="/motion">Motion</a></li>
        <li><a class="ajaxy filter" id="work-illustration" href="/illustration">Illustration</a></li>
      </ul>
      <ul id="our-world">
        <li class="nav-title"><h2>Our World</h2></li>
        <li><a class="ajaxy filter" id="world-about-us" href="/about-us">About Us</a></li>
        <li><a class="ajaxy filter" id="world-open-source" href="/open-source">Open Source</a></li>
        <li><a class="ajaxy filter" id="world-extracurricular" href="/extracurricular">Extracurricular</a></li>
      </ul>
      <ul id="contact-mobile">
        <li class="nav-title"><h2>Contact</h2></li>
        <li><a id="contact-email" href="mailto:hello@legworkstudio.com">Email Us</a></li>
        <li><a id="contact-phone" href="tel:1-720-907-3833">Call Us</a></li>
        <li><a id="contact-address" href="http://g.co/maps/9f46q" target="_new">Visit Us</a></li>
      </ul>
    </nav>

    <div id="menu-btn">
      <h2>Menu</h2>
      <div id="menu-handle"></div>
    </div>
    <h1 class="ir"><a class="ajaxy" href="/">Legwork</a></h1>
  </header>
  <!--/Header -->

  <!-- Main -->
  <div id="legwork" role="main">
    <div id="wrap-the-scribble"></div>
    <div id="wrap-the-stuff"></div>
    <div id="wrap-the-filter"></div>
    <div id="wrap-the-404"></div>
    <div id="reveal-the-stuff"></div>
  </div>
  <!--/Main -->

  <!-- Detail -->
  <div id="detail">
    <div id="detail-inner"></div>
    <a id="detail-close-btn" class="ajaxy" href="/"></a>
    <div id="related-btn"></div>
  </div>
  <!-- /Detail -->

  <!-- Footer -->
  <footer>
    <ul id="contact-footer">
      <li class="nav-title"><h2>Contact Us</h2></li>
      <li><a href="mailto:hello@legworkstudio.com" id="footer-email">hello@legworkstudio.com</a></li>
      <li><a href="tel:1-720-907-3833" id="footer-phone">(720) 907-3833</a></li>
      <li><a href="http://g.co/maps/9f46q" id="footer-address">40 S Broadway / Denver, CO 80209</a></li>
    </ul>

    <ul id="social-footer">
      <li><a href="https://github.com/legworkstudio" id="social-github" data-tooltip="Follow on Github" target="_new"></a></li>
      <li><a href="http://vimeo.com/legworkstudio" id="social-vimeo" data-tooltip="Watch on Vimeo" target="_new"></a></li>
      <li><a href="http://www.facebook.com/legwork" id="social-facebook" data-tooltip="Like on Facebook" target="_new"></a></li>
      <li class="nmr"><a href="http://twitter.com/legwork" id="social-twitter" data-tooltip="Follow on Twitter" target="_new"></a></li>
    </ul>
  </footer>
  <!--/Footer -->

</div><!--/Wrapper -->

<!-- Videos -->
<div id="ye-olde-hidden-video-holder">
</div>
<!--/Videos -->
