<div id="wrapper">

  <!-- Header -->
  <header>
    <nav class="cf">
      <ul id="our-work" class="drop-menu">
        <li class="nav-dropper"><h2 class="ir">Our Work</h2></li>
        <li class="drop-item"><a href="#">Interactive</a></li>
        <li class="drop-item"><a href="#">Motion</a></li>
        <li class="drop-item"><a href="#" class="last-so-round-it-out-son">Illustration</a></li>
      </ul>
      <ul id="our-world" class="drop-menu">
        <li class="nav-dropper"><h2 class="ir">Our World</h2></li>
        <li class="drop-item"><a href="#">About Us</a></li>
        <li class="drop-item"><a href="#">Giveaways</a></li>
        <li class="drop-item"><a href="#" class="last-so-round-it-out-son">Extracurricular</a></li>
      </ul>
      <h1 class="ir">Legwork</h1>
    </nav>
  </header>
  <!--/Header -->

  <!-- Main -->
  <div id="legwork" role="main">
  </div>
  <!--/Main -->

  <!-- Footer -->
  <footer>
    <h2 class="ir">Contact Us</h2>
    <a data-email="hello@legworkstudio.com" href="mailto:hello@legworkstudio.com" id="footer-email"></a>
    <a data-phone="(303) 902-2180" href="tel:1-303-902-2180" id="footer-phone"></a>
    <a data-address="40 S Broadway Ste. 201 Denver, CO 80209" href="http://g.co/maps/9f46q" id="footer-address"></a>

    <div id="footer-social">
      <a href="#" id="social-github" class="ir">Follow on Github</a>
      <a href="#" id="social-vimeo" class="ir">Watch on Vimeo</a>
      <a href="#" id="social-twitter" class="ir">Follow on Twitter</a>
      <a href="#" id="social-facebook" class="ir nmr">Subscribe on Facebook</a>
      <div id="social-tooltip"></div>
    </div>
  </footer>
  <!--/Footer -->

</div><!--/Wrapper -->